<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.blackist.modulize.main">

    <application android:theme="@style/common_AppTheme">
        <activity android:name="org.blackist.modulize.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.blackist.modulize.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>